.dark-mode {
  background-image: linear-gradient(
    180deg,
    #ebf2fc 0%,
    #eef8f9 100%
  ) !important;
  & header div {
    background-color: #fbfdfe !important;
    color: #09153e !important;
  }
  & nav {
    & h2 {
      color: #09153e !important;
    }
    & ul li {
      color: #09153e !important;
      background-color: #fbfdfe;
      &:hover {
        color: #fbfdfe !important;
      }
    }
  }

  & section > div {
    & div {
      background-color: #fbfdfe !important;
      & h3 {
        color: #09153e !important;
      }
      & button {
        background-color: #fbfdfe !important;
        color: #09153e !important;
        transition: all 0.5s;

        &:hover {
          background-color: #f25c54 !important;
          color: #fbfdfe !important;
        }
        &:active {
          background-color: #c7221a !important;
        }
      }
    }
  }
}
