$main-dark-color: #09153e;
$p-color: #545969;
$cart-bg-color: #2f364b;

$text-color-dark-mode: #212636;
$text-color-light-mode: #fbfdfe;
$border-color: #c7c7c7;
$active-color: #c7221a;
$hover-color: #f25c54;
$outline-color: #de473f;
$white: white;

$main-color-light-mode: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
$main-color-dark-mode: linear-gradient(180deg, #040918 0%, #091540 100%);

$main-border: 1px solid $border-color;
$main-border-raduis: 20px;

$spacer: 1rem;
